body {
    min-height: 95vh;
    padding: 0;
    margin: 10px;
    background-color: #F9FAF8;
    border-top: 10px solid #1F2937;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 10px solid #1F2937;
}

.container {
    margin: 0 auto;
    padding: 0;
    gap: 0;
}

.head {
    text-align: center;
    color: #1F2937;
    font-weight: bold;
    font-size: xx-large;
}

.head hr {
    width: 10%;
    color: #1F2937;
}

.head div {
    font-size: 18;
}

table {
    margin: 0 auto;
    gap: 10px;
}

td {
    text-align: center;
}

.buttons {
    text-align: center;
}

.Error {
    color: red;
    text-align: center;
}

.input-back {
    background-color: #1F2937;
    color: #F9FAF8;
    border-radius: 14px;
    padding: 10px;
}

.form-container-unused {
    max-height: 0px;
    max-width: 0px;
}

.form-container {
    margin: 0 auto;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
    border-radius: 14px;
}

.form-container hr {
    width: 30%;
    color: #F9FAF8;
}

.form-header {
    font-size: 28px;
    font-weight: bold;
}

.post_count {
    margin: 0 auto;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 9px;
    padding: 6px;
}

.post_count td {
    padding: 20px;
    width: 30%;
    text-align: center;
}

.post_count input {
    border-radius: 9px;
    background-color: #F9FAF8;
    color: #1F2937;
    font-size: 21px;
    padding: 3px;
}  

.number {
    font-weight: bold;
    font-size: 80px;
    color: #1F2937;
}

.results-subtext {
    color: gray;
}

.results-table td {
    width: 30%; 
    padding: 10px;
}

.max_grade {
    color: #1F2937;
    font-weight: bold;
}

.top_students {
    color: #1F2937;
    font-size: x-large;
}